<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Tektur&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Puth Food App</title>
</head>
<body>
  
<header class="header">
  <div class="header__inner">
    <a href="/" class="header__brand font-title">
      <h1>Puth Food</h1>
    </a>
  
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Favorite</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">About Us</a>
        </li>
      </ul>
    </nav>
  
    <!-- for mobile -->
    <a href="#" id="header__menu" class="header__menu">🍔</a>
  </div>
</header>

<nav id="drawer" class="mobile_nav">
  <div id="drawer__close">
    <a href="#">✖</a>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Favorite</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">About Us</a>
    </li>
  </ul>
</nav>

<div class="hero">
  <img class="hero__img" src="/images/heros/hero-image_4.jpg">
  <div class="hero__inner">
    <h1 class="font-title">PUTH FOOD</h1>
    <h2>YOUR FOOD SOLUTION</h2>

    <div class="hero__description">
      <p>Discover best food in your area with PUTH FOOD now. Your deserve for the best meal.</p>
      <a href="#">Discover NOW</a>
    </div>
  </div>
</div>

<main>

  <section class="favorite">
    <h3 class="section-title font-title">Puth's Favorite</h3>

    <div class="favorite__background"></div>

    <div class="favorite__content">
      <!-- article items -->
    </div>
  </section>
</main>

<footer>
  <p>Copyright © 2023 - Puth Food App</p>
</footer>

</body>
</html>
