.header__menu{
    display: none;
}

@media screen and (max-width: 992px) {
    .header{
        padding: 20px 50px;
    }
    .header__menu{
        display: block;
    }
    .header .header__nav{
        display: none;
    }

    .hero .hero__inner h1{
        font-size: 72px;
    }

    .best{
        padding: 50px;
    }
    footer{
        padding: 20px 50px;
    }
}

@media screen and (max-width: 780px) {
    .hero{
        text-align: center;
    }
    .hero .hero__inner {
        padding-left: 0;
    }
    .hero .hero__inner .hero__description{
        padding: 0;
        margin: 0 auto;
    }
    .best #best__content{
        grid-template-columns: repeat(2, auto);
    }
    .best #best__content .best__item .best__img .best__rating{
        display: block;
    }
}

@media screen and (max-width: 630px) {
    body{
        font-size: 12px;
    }
    .section-title{
        font-size: 32px;
    }

    .header{
        padding: 20px;
    }
    .hero .hero__inner h1{
        font-size: 48px;
    }
    .hero .hero__inner .hero__description{
        font-size: 12px;
    }
    .hero .hero__inner .hero__description a{
        font-size: 20px;
        padding: 10px 0;
    }

    .best{
        padding: 50px 20px;
    }
    .best #best__content{
        grid-template-columns: auto;
    }

    footer{
        padding: 20px;
    }
}